[submodule "ldapescape"]
	path = ldapescape
	url = https://github.com/devgateway/ldapescape.git
[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih.git
[submodule "debian"]
	path = debian
	url = git@github.com:devgateway/getauthorizedkeys-packaging.git
